/*login and register*/
.max-height {
  min-height: 100vh;
}

// faire une line
.title-underline {
  width: 200px;
  height: 10px;
  margin: 0 auto;
  //background: #000;
}

.height-80{
  min-height: 80vh;
}

.card {
  img {
    height: 400px!important;
  }
}